container_commands:
  01_fix_cors:
    command: "/tmp/fix_cors.sh"
files:
  "/tmp/fix_cors.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      pushd $(/opt/elasticbeanstalk/bin/get-config container -k config_staging_dir)
      echo "Adding CORS Config"
      PROXY_CONF="#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf"
      grep cors.config $PROXY_CONF || sed -i '/location \/ {/a \ \ \ \ include /etc/nginx/conf.d/cors.config;' $PROXY_CONF
  "/etc/nginx/conf.d/cors.config":
    mode: "000644"
    owner: root
    group: root
    content: |
        # CORS configuration for nginx
        set $cors_origin "";
        if ($http_origin = "http://virtual-schema-react.s3-website-us-east-1.amazonaws.com") {
            set $cors_origin $http_origin;
        }

        if ($request_method = 'OPTIONS') {
          add_header 'Access-Control-Allow-Origin' $cors_origin always;
          add_header 'Access-Control-Allow-Credentials' 'true' always;
          add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
          add_header 'Access-Control-Allow-Headers' 'Authorization,Content-Type,Accept,Origin,User-Agent,DNT,Cache-Control,X-Mx-ReqToken,Keep-Alive,X-Requested-With,If-Modified-Since' always;
          add_header 'Access-Control-Max-Age' 1728000;
          add_header 'Content-Type' 'text/plain charset=UTF-8';
          add_header 'Content-Length' 0;
          return 204;
        }

        if ($request_method = 'POST') {
          add_header 'Access-Control-Allow-Origin' $cors_origin always;
          add_header 'Access-Control-Allow-Credentials' 'true' always;
          add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
          add_header 'Access-Control-Allow-Headers' 'Authorization,Content-Type,Accept,Origin,User-Agent,DNT,Cache-Control,X-Mx-ReqToken,Keep-Alive,X-Requested-With,If-Modified-Since' always;
        }

        if ($request_method = 'GET') {
          add_header 'Access-Control-Allow-Origin' $cors_origin always;
          add_header 'Access-Control-Allow-Credentials' 'true' always;
          add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
          add_header 'Access-Control-Allow-Headers' 'Authorization,Content-Type,Accept,Origin,User-Agent,DNT,Cache-Control,X-Mx-ReqToken,Keep-Alive,X-Requested-With,If-Modified-Since' always;
        }